<!-- macros.html -->
{% macro search_user_friendlist(method, user, error) %}
    <div class="form">
        <form class="form" method={{ method }} action="{{ url_for('steam_intersect') }}">
            <label for="userSteamIDInput">Enter your SteamID</label>
            <div class="d-flex justify-content-center">
                <input required type="text" class="form-control flex-grow-1" id="userSteamIDInput" name="steamid"
                        {% if user %}
                             placeholder="{{ user["steamid"] }}"
                        {% endif %}>
                <button type="submit" class="btn btn-default ml-1">Submit</button>
            </div>
            <small id="userSteamIDInputHelp" class="form-text text-muted">e.g. 76561198050567488, STEAM_0:0:45150880, spikej (vanity url)</small>
        </form>
        {% if error %}
        <div align="center">
            <h4><b>{{ error }}</b></h4>
        </div>
        {% endif %}
    </div>
{% endmacro %}