{% extends "steam_intersect.html" %}
{% set active_page = "steam_intersect" %}


{% block intersect_content %}

    <style>
        input {
          display: none;
        }

        input:checked ~ div {
          background: #e1e1e1;
        }

    </style>

    <h1>{% block title %} SteamIntersect {% endblock %}</h1>
    <div>
        <div class="form">
            <form class="form" method="GET" action="{{ url_for('steam_intersect') }}">
                <div class="form-group">
                    {{ form.steam64id.label(class="form-label") }}
                    {{ form.steam64id(class="form-control") }}
                </div>
                {{ form.submit(class="btn btn-default") }}
            </form>
        </div>
    </div>

    <br>

    {% if output %}
        <form method="POST" action="/steam_intersect/{{ input }}">
        <div class="d-flex justify-content-center flex-wrap">

                {% for user in output %}
                <label class="col-6 col-md-3 col-lg-2">
                    <input type="checkbox" id="" name="ids[]" value="{{ user["steamid"]}}">
                    <div class="card" >
                        <img class="card-img-top p-2" src="{{ user['avatarfull'] }}" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <p class="card-text text-center">{{ user["personaname"] }}</p>

                        </div>
                    </div>
                </label>
                {% endfor %}


        </div>
        <button value="submit">Submit</button>
        </form>
    {% else %}
        <div align="center">
            <h4><b>{{ error }}</b></h4>
        </div>
    {% endif %}



{% endblock %}