{% extends "steam_intersect.html" %}
{% set active_page = "steam_intersect" %}


{% block intersect_content %}

    <h1>{% block title %} SteamIntersect {% endblock %}</h1>
    <div>
        <div class="form">
            <form class="form" method="POST" action="{{ url_for('steam_intersect') }}">
                <div class="form-group">
                    {{ form.steam64id.label(class="form-label") }}
                    {{ form.steam64id(class="form-control") }}
                </div>
                {{ form.submit(class="btn btn-defaul##t") }}
            </form>
        </div>
    </div>

    <br>

    {% if output %}
        <div class="d-flex justify-content-center flex-wrap">

        </div>

        <div class="d-flex justify-content-center flex-wrap">
            {% for user in output %}
            <div class="card" style="width:124px;margin: 5px">
                <a href="{{ url_for('steam_friends', steam64id=user["steamid"]) }}"><img class="card-img-top" src="{{ user['avatarfull'] }}" alt="Card image" style="width:100%"></a>
                <div class="card-body">
                    <p class="card-text">{{ user["personaname"] }}</p>
                    <p class="card-text">{{ user["steamid"]}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <div align="center">
            <h4><b>{{ error }}</b></h4>
        </div>
    {% endif %}



{% endblock %}