{% extends "steam_intersect.html" %}
{% set active_page = "steam_intersect" %}


{% block intersect_content %}

    <style>
        input {
          display: none;
        }

        input:checked ~ div {
          background: #e1e1e1;
        }

    </style>

    <h1>{% block title %} SteamIntersect {% endblock %}</h1>
    <div>
        {{ macro.search_user_friendlist("POST", user, error) }}
    </div>

    <br>

    {% if output %}

        <form method="GET" action="{{ url_for('steam_friends_post', user=user["steamid"]) }}"  autocomplete="off">


            <div class="d-flex justify-content-center flex-wrap" id="checked-users">
                <div class="card" id="submitting_user_card">
                    <img class="card-img-top" src="{{ user['avatarfull'] }}" alt="Card image" style="width:100%">
                    <div >
                        <p class="card-text text-center p-1">{{ user["personaname"] }}</p>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center m-4">
                <button type="submit" class="btn btn-default">Find Games</button>
            </div>

            <h3>Friends List</h3>
            <input type="text" class="form-control mt-2 mb-2" id="search" placeholder="Search...">

            <div class="d-flex justify-content-center flex-wrap"  id="user-list">
                {% for user in output %}
                <label class="col-6 col-md-3 col-lg-2">
                    <input type="checkbox" id="" name="ids[]" value="{{ user["steamid"]}}">
                    <div class="card" >
                        <img class="card-img-top" src="{{ user['avatarfull'] }}" alt="Card image" style="width:100%">
                        <div >
                            <p class="card-text text-center p-1">{{ user["personaname"] }}</p>
                        </div>
                    </div>
                </label>
                {% endfor %}
            </div>

        </form>

        <script>
          // Get the search input element
          const searchInput = document.getElementById('search');

          // Get the list of user cards
          const userList = document.getElementById('user-list');

          // Get the checked users div
          const checkedUsersDiv = document.getElementById('checked-users');

          const submitting_user_card = document.getElementById("submitting_user_card")

          // Add an event listener to the search input element
          searchInput.addEventListener('input', () => {
            // Get the search query and convert it to lowercase
            const searchQuery = searchInput.value.toLowerCase();

            // Filter the list of user cards based on the search query
            const filteredList = Array.from(userList.children).filter(card => {
              const personaname = card.querySelector('.card-text').textContent.toLowerCase();
              return personaname.includes(searchQuery);
            });

            // Show or hide each card based on whether it matches the search query
            Array.from(userList.children).forEach(card => {
              if (filteredList.includes(card)) {
                card.style.display = 'block';
              } else {
                card.style.display = 'none';
              }
            });
          });

          // Add an event listener to the checkboxes
          userList.addEventListener('change', () => {
            // Get the list of checked checkboxes
            const checkedCheckboxes = Array.from(userList.querySelectorAll('input[type="checkbox"]:checked'));
            // Clear the checked users div
            checkedUsersDiv.innerHTML = '';

            checkedUsersDiv.appendChild(submitting_user_card)

            // Add the checked users to the checked users div
            checkedCheckboxes.forEach(checkbox => {
              const steamid = checkbox.value;
              const userCard = userList.querySelector(`[value="${steamid}"]`).parentNode.innerHTML;
              checkedUsersDiv.innerHTML += userCard;
            });
          });
        </script>
    {% else %}
        <div align="center">
            <h4><b>{{ error }}</b></h4>
        </div>
    {% endif %}



{% endblock %}